.titik, a{
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
}

.nav-bg{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.sudirman{
    position: absolute;
    width: 480px;
    height: auto;
    
}

.header{
    background-image: url('/run.png');
}