*{
    font-family: 'montserrat', sans-serif;
}

.titik, a{
    font-size: 16px;
}

.nav-bg{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.sudirman img{
    width: 480px;
    height: auto;
}
.sudirman{
    position: absolute;
    top: 105px;
}
.sudirman input{
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC73C;
    color: white;
    box-shadow: 0 18px 40px #FFD36759;
}

header{
    background-image: url('/picture/run.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-1{
    color: white;
    font-size: 48px;
    font-weight:800;
    font-style: italic;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.text-2{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.text-3{
    font-weight: 800;
    font-size: 36px;
    color: white;
    font-style: italic;
    line-height: 30px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.text-4{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.box{
    height: 158px;
    width: auto;
}